.enter {
  display: flex;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.login:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  stroke: var(--main-color);
}

.login1 svg {
  stroke: var(--main-color);
}
.login2 svg {
  stroke: var(--green-color);
}
.login3 svg {
  stroke: var(--blue-color);
}
.login4 svg {
  stroke: var(--red-color);
}
.login5 svg {
  stroke: var(--orange-color);
}

.login p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #121417;
}

.registration {
  width: 166px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #121417;
  color: #fff;
  margin-left: 16px;
  transition: 0.3s;
}

.registration:hover {
  cursor: pointer;
  opacity: 0.8;
}

.helloLogin {
  font-weight: 600;
  border-right: 2px solid #121417;
  padding-right: 10px;
  margin-right: 10px;
}

.logOut {
  font-weight: 600;
  transition: 0.3s;
}

.logOut:hover {
  cursor: pointer;
  opacity: 0.7;
}
