body {
  width: 100%;
  display: flex;
  justify-content: center;
}

#root {
  width: 1312px;
}

:root {
  font-family: "Roboto", serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #f4c550;
  --main-color-light: #fbe9ba;

  --green-color: #9fbaae;
  --green-color-light: #cbded3;

  --blue-color: #9fb7ce;
  --blue-color-light: #bfd6ea;

  --red-color: #e0a39a;
  --red-color-light: #f2c0bd;

  --orange-color: #f0aa8d;
  --orange-color-light: #f4c8ba;
}
